[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
sphero-sdk = {path = "./../sphero-sdk-raspberrypi-python"}
rpi-gpio = "*"
picamera = "*"

[requires]
python_version = "3.7"
